@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: var(--color-slate-50);
	--color-foreground: var(--color-slate-600);
	--color-primary: var(--color-slate-900);
	--color-muted: var(--color-slate-400);
	--color-line: var(--color-slate-300);
	--color-accent: var(--color-teal-600);
	--color-accent-fg: var(--color-white);
	--color-surface: color-mix(in oklab, var(--color-slate-200) 50%, transparent);
	--color-border: var(--color-slate-200);
	--color-border-strong: var(--color-slate-300);

	/*--color-background: var(--color-stone-50);*/
	/*--color-foreground: var(--color-slate-700);*/
	/*--color-primary: var(--color-slate-950);*/
	/*--color-muted: var(--color-slate-500);*/
	/*--color-line: var(--color-slate-200);*/
	/*--color-accent: var(--color-blue-500);*/
	/*--color-accent-fg: var(--color-white);*/
	/*--color-surface: color-mix(*/
	/*	in oklab,*/
	/*	var(--color-white) 92%,*/
	/*	var(--color-slate-100)*/
	/*);*/
	/*--color-border: color-mix(in oklab, var(--color-slate-900) 8%, transparent);*/
	/*--color-border-strong: color-mix(*/
	/*	in oklab,*/
	/*	var(--color-slate-900) 16%,*/
	/*	transparent*/
	/*);*/
}

.dark {
	--color-background: var(--color-slate-900);
	--color-foreground: var(--color-slate-400);
	--color-primary: var(--color-slate-200);
	--color-muted: var(--color-slate-500);
	--color-line: var(--color-slate-600);
	--color-accent: var(--color-teal-300);
	--color-accent-fg: var(--color-teal-900);
	--color-surface: color-mix(in oklab, var(--color-slate-800) 50%, transparent);
	--color-border: color-mix(in oklab, var(--color-slate-200) 10%, transparent);
	--color-border-strong: color-mix(
		in oklab,
		var(--color-slate-200) 30%,
		transparent
	);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-inter), sans-serif;
	font-feature-settings:
		"cv11" 1,
		"cv02" 1,
		"ss03" 1;
	font-optical-sizing: none;
}

.active .nav-indicator {
	@apply w-16 bg-primary opacity-100;
}

.active .nav-text {
	@apply text-primary;
}

.mouse-gradient {
	--gradient-x: 0px;
	--gradient-y: 0px;

	@variant lg {
		--gradient-x: var(--x);
		--gradient-y: var(--y);
	}

	background: radial-gradient(
		in oklch 600px at var(--gradient-x) var(--gradient-y),
		oklch(0.49 0.22 255.43 / 0.15),
		transparent 80%
	);
}

a:hover,
a:focus-visible {
	@apply text-accent! transition-all motion-reduce:transition-none;
}

.about-markdown {
	strong {
		@apply font-medium;
	}

	a {
		@apply text-primary;
	}

	p {
		@apply not-last:mb-4;
	}
}

.experience-markdown {
	p {
		@apply not-last:mb-4;
	}
}

.footer-markdown {
	a {
		@apply font-medium text-foreground;
	}
}

/* -------------- Transition API -------------- */

/* avoid default crossfade of view transitions */
::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

/* necesario para que la vista nueva se revele limpiamente sobre la anterior*/

::view-transition-image-pair(root) {
	isolation: auto;
}

/* While switching themes, disable normal transitions to avoid conflicts */
html.theme-switching,
html.theme-switching *,
html.theme-switching *::before,
html.theme-switching *::after {
	transition: none !important;
}

/*a11y: if user has reduced motion*/
@media (prefers-reduced-motion: reduce) {
	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none !important;
	}
}

/* -------------- Transition API -------------- */
