@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-inter), sans-serif;
	font-feature-settings:
		"cv11" 1,
		"cv02" 1,
		"ss03" 1;
	font-optical-sizing: none;
}

.active .nav-indicator {
	@apply w-16 bg-slate-200 opacity-100;
}

.active .nav-text {
	@apply text-slate-200;
}

.mouse-gradient {
	--gradient-x: 0px;
	--gradient-y: 0px;

	@variant lg {
		--gradient-x: var(--x);
		--gradient-y: var(--y);
	}

	background: radial-gradient(
		600px at var(--gradient-x) var(--gradient-y),
		rgba(29, 78, 216, 0.15),
		transparent 80%
	);
}

a:hover,
a:focus-visible {
	@apply text-teal-300! transition-all motion-reduce:transition-none;
}

.about-markdown {
	strong {
		@apply font-medium;
	}

	a {
		@apply text-slate-200;
	}

	p {
		@apply not-last:mb-4;
	}
}

.footer-markdown {
	a {
		@apply font-medium text-slate-400;
	}
}
